<head>
	<title> Internet of things analytics </title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/nvd3/build/nv.d3.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>