<html ng-app="SolarProject">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/nvd3/build/nv.d3.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
</head>

<body>
	<% include ./partials/navbar %>
	<div class="container">
		asdasd
	</div>

	
	<script src="/angular/angular.min.js"></script>
	<script src="/angular/angular-route.min.js"></script>
	<script src="/d3/d3.min.js"></script>
	<script src="/nvd3/build/nv.d3.min.js"></script>
	<script src="/angular-nvd3/dist/angular-nvd3.js"></script>
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/javascripts/angularApp.js"></script>
	<script src="/javascripts/index/socket-factory.js"></script>
	<script src="/javascripts/index/index-controller.js"></script>
</body>
</html>