<html ng-app="SolarProject">
<% include ./partials/header %>

<body ng-controller="LogsController">
	<% include ./partials/navbar %>
	
	<div class="container" >
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<ul class="nav nav-pills device-nav" ng-show="devices.length > 0">
				  <li ng-class="$index == nav ? 'active' : '' " role="presentation" ng-repeat="device in devices" ng-click="currentNav($index)">
				  	<a href="#">{{device[0].name | capitalize}}</a>
				  </li>
				</ul>
			</div>	
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" >			
				<div ng-repeat="device in devices" ng-show="$index == nav">
					<p> ID: {{device[0]._id}} </p>
					<nvd3 options='device[0].graph == "bar" ? barOptions : lineOptions' data='device'></nvd3>
				</div>
				
				<div ng-show="devices.length == 0">
					<a href="/devices?n=1" class="btn btn-success btn-block btn-lg">
						<i class="glyphicon glyphicon-plus"></i>
						Register an IOT device!
					</a>
				</div>				
			</div> 

	</div>

	
	<% include ./partials/footer %>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/index/socket-factory.js"></script>
	<script src="/javascripts/index/index-controller.js"></script>
</body>
</html>