<html ng-app="SolarProject">
<% include ./partials/header %>

<body>
	<% include ./partials/navbar %>
	
	<div class="container">
			<div class="header" ng-controller="LogsController">			
				
				<div ng-repeat="device in devices">
					<h4> Device name: {{device[0].name}} </h4>
					<p> {{device[0]._id}} </p>
					<nvd3 options='options' data='device'></nvd3>
				</div>
					

<!-- 				<div class="col-xs-8 col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-8 col-lg-offset-4">
					
					<div class=""style="height:200px;overflow-y:auto;">
						<ul>
							<li ng-repeat="log in data[0].values">
									{{"Power:" + log[1] + ", tstamp: " + log[0]}}
							</li>
						</ul>
					</div>
				<br>	
				<br>	
				<br>	
				<br>	
				<br>	
				</div>
 -->			
			</div> 

	</div>

	
	<% include ./partials/footer %>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/javascripts/angularApp.js"></script>
	<script src="/javascripts/index/socket-factory.js"></script>
	<script src="/javascripts/index/index-controller.js"></script>
</body>
</html>