<form name="editDeviceForm" ng-submit="updateDevice(editDeviceForm.$valid)" novalidate>
	<h3>Edit Device</h3>
	<hr>
	<input type="hidden" name="id" value="{{edit._id}}">
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" name="name" value="{{edit.name}}" ng-model="edit.name" required>
	</div>
	<div class="form-group">
		<label>Type</label>
		<select name="type" class="form-control" ng-init="edit.type" ng-model="edit.type" ng-options="t as (t | capitalize) for t in types" required></select>
	</div>
	<div class="form-group">
		<label>Graph</label>
		<select name="graph" class="form-control" ng-init="edit.graph" ng-model="edit.graph" ng-options="g as (g | capitalize) for g in graphs" required></select>
	</div>
	<div class="form-group">
		<label>Google map</label>
		<input type="text" name="gmap" ng-model="edit.gmap" value="{{edit.gmap}}" class="form-control">
	</div>
	<button 
	class="btn btn-success" type="submit"
	ng-disabled="editDeviceForm.name.$invalid || editDeviceForm.type.$invalid || editDeviceForm.graph.$invalid">
	Save changes</button>
</form>