<div class="col-xs-6 col-sm-6 col-md-offset-3 col-md-6 col-lg-6">
	<form name="pushLogs" ng-controller="PushController as push" >

		<legend>logs</legend>

		<div class="form-group">
			<label for="">guid</label>
			<input type="text" ng-model="guid" class="form-control" id="" placeholder="Guid">
			
		</div>
		
		<div class="form-group">
			<label for="">generated</label>
			<input type="number" ng-model="generated" class="form-control" min="{5"} >	
			
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>